{% extends 'layout.html' %}

{% load static %}
{% block content %}
    <div class="col-md-8">
<h1>This is main form</h1>
        {% for alldta in object_list %}
            <h2>{{alldta.title}}</h2> 
                   <!-- This is for single image post -->
            <!-- <p><img src="{% static alldta.thumbnail.url %}" alt="" style="width: 100%;"></p> -->
    
            
                <!-- This is for gallery image post -->
            <ul class="list-inline">
                {% for gallery in alldta.gallery_set.all %}
                <li>
                
                <img src="{% static gallery.images.url %}" alt="" width="20%">
                
                </li>
                {% endfor %}
            </ul>
           
    
            <p>{{alldta.content}}</p> 
    
            <small><i style='text-transform:capitalize;color: #f00;font-weight: bold;'>Author Name - {{ alldta.user.username }}</i></small> | 
            <small><i style='text-transform:capitalize;color: green;font-weight: bold;'>Category - {{ alldta.category.all|join:" / "}}</i></small>
            <div style="height:50px;width:100%;"></div>
        {% endfor %}
        </div>

<!-- this is for post form -->
<div> 
    
            <div class="col-md-2">   </div>
            <div class="col-md-8">
            <form action="/cbview/" method="POST" enctype="multipart/form-data">
            {%  csrf_token %}
            
                <div class="form-group">
                    {% if form.errors %}
            
                        {% for errossss in form.non_field_errors %}
                            <p>{{errossss | escape}}</p>
                        {% endfor %}
            
                    {% endif %}
                </div>
            
                <div class="form-group">
                    {% if form.thumbnail.errors %}
            
                        {% for errossss_tumb in form.thumbnail.errors %}
                            <p>Thumbnail
                                {{errossss_tumb | escape}}
                            </p>
                        {% endfor %}
            
            
                    {% endif %}
                </div>
            
                <div class="form-group">
                {% for f in form %}
                
                    <p>{{f.label_tag}}</p>
                    <p>{{f}}</p>
                {% endfor %}
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" >Submit post</button>
            </div>
            
            
            </form>
            </div> 
            
            <div class="col-md-2"></div>
</div>
        
{% endblock %} 
</body>
</html>