#header{
   background:#16b59f;
}

.login .submit-row{
padding:0;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button{
    width: 100%;
    background:#16b59f;
    border:1px solid  #009984;
    transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
}

.button:active, input[type=submit]:active, input[type=button]:active, .button:focus, input[type=submit]:focus, input[type=button]:focus, .button:hover, input[type=submit]:hover, input[type=button]:hover{
    background:transparent;
    border:1px dashed  #009984;
    color:#009984;
}